* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.all{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
}

a:hover,
a:focus{
    text-decoration: none;
}

.container { 
max-width: 1158px;
padding-left:  15px;
padding-right:  15px;
margin: 0 auto; 
/*border: 2px solid #2E2F42;*/
}

/*Стили логотипа*/

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo-full, 
.logo-web{
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.logo-web {
    color: #2E2F42;
    
}

.logo-full {
    margin-right: 76px;
}

/*Навигация*/

.header-list,
.navigation,
.address {
    display: flex;
    align-items: center;
}

.address-list,
.navigation-list{
    display: flex;
    gap: 40px;
}

.navigation-list-item:hover,
.navigation-list-item:focus,
.address-list-style:hover,
.address-list-style:focus,
.navigation-list-item.current
{
    color: #404BBF;
}

.navigation-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item.current{
    position: relative;
}

.navigation-list-item.current::after {
    content:"";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404BBF;
}

/*Контакты*/

.address{
    font-style: normal;
    margin-left: auto;
}



.address-list-style {
    line-weight: 1.5;
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Hero banner*/

.hero-banner {
    /*background-color: #2E2F42;*/
    margin: 0 auto;
    max-width: 1440px;
    padding: 188px 0;
    background-image: 
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/background1.jpg"); 
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
}

.hero-banner-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-banner-button:hover,
.hero-banner-button:focus{
    background-color: #404BBF;
}
.hero-banner-button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*content*/

.content {
    padding: 120px 0;
}
.content-title {
    color: #2e2f42;
 
}
.content-list {
    display: flex;
    gap: 24px;
}

.content-list-item {
    width: calc((100% - 48px) / 4);
    
}
.content-list-title {
    font-weight: 500;
    font-size: 20px;s
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.content-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.content-icon{
border: 1px solid #8E8F99;
border-radius: 4px;
width: 264px;
height: 112px;
background-color: #F4F4FD;
display:flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
 }

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-photo {

}
.team-name {
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-text-content{
    padding: 32px 0;
}

/*Portfolio*/

.portfolio {
    padding: 120px 0;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list-item{
    width: calc((100% - 48px) / 3);
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .hidden-paragraf{
    transform: translateY(0%);
}

.portfolio-image {
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;

    border-top: none;
}

.portfolio-image-div {
    position: relative;
    overflow: hidden;
}

.hidden-paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*Footerc*/

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-footer{

}

.logo-footer-full{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

.logo-footer-studio{
    color: #F4F4FD;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin-top: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.footer a{
 /*   display: inline-block;*/
    margin-bottom: 16px;
}

.social{
    display:flex;
    gap: 24px;
    justify-content: center;
}

.social-link{
    width: 40px;
    height:40px;
    display: flex;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
} 

.social-item{

}


.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap:16px;
    justify-items: center;
    align-items: center;

}

.footer-social-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-social {
    width: calc((100% - 48px) / 4);
}

.footer-social-icon,
.social-icon {
    fill: #f4f4fd;
}

.footer-box{
    display: flex;
    align-items: baseline;
}

.web-container {
    margin-right: 120px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

